@import "../CSS/_base.css";
.image-woman
.container{
    width: 100%;
    height: auto;
}
.section-container{
    width: 100%;
    padding: 100px 33px 55px 33px;
    background-color: var(--color-Light-Gray) ;
    display: flex;
    flex-direction: column;
}
.section{
    width: 100%;
}
.section__about-text{
    color: var(--color-Light-Blue);
    font-family: var(--font-Poppins-Bold);
    font-size:1.2rem ;
    margin: 0 0 20px;
}
.section__about-heading{
    font-family: var(--font-Poppins-Normal);
    font-size: 3.2rem;
    margin: 0 0 15px;
}
.section__first{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.section__first-heading{
    font-family: var(--font-DM-Sans-Normal);
    font-size: 1.8rem;
    margin: 0 0 20px;
}
.section__first-text{
    margin: 0 0 20px;
    font-size: 1.1rem;
    font-family: var(--font-DM-Sans-Normal);
}
.section__first-link{
    color: var(--color-Purple);
    font-family: var(--font-DM-Sans-Bold);
    font-size: 1.3rem;
}
.section__first-link:hover{
    text-decoration: underline;
}
.title-container{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: var(--color-White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-container__text-item{
    padding: 40px;
}
.title-container__text-item-image-man{
    width: 100%;
}
.title-container__text-item-image-heading{
    font-family: var(--font-Poppins-Normal);
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: 30px;
}
.title-container__text-item-image-text{
    font-family: var(--font-Poppins-Normal) ;
    font-size: 1.1rem;
    line-height: 16px;
    margin-bottom: 20px;
}
.title-container__text-item-image-button{
    width: 100px;
    height: 45px;
    background-color: var(--color-Black);
    color: var(--color-White);
    font-family: var(--font-Jost);
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.title-container__text-item-text-woman{
    width: 100%;
}
.section-second{
    width: 100%;
    background-color: var(--color-Light-Gray);
    padding-bottom: 50px;
    background-image: url(../Assets/Images/Details/leasing-bg-logo.jpg);
    background-position: left -30px top 40px;
    background-repeat: no-repeat;
    background-size: 260px;
    display: flex;
    flex-direction: column;
}
.section-second__text{
    font-family: var(--font-Poppins-Normal);
    padding-left: 33px;
    padding-top: 120px;
    padding-bottom: 30px;
    font-size: 1.6rem;
}

.section-second__leasing-about-icon{
    padding: 33px;
}
.section-second__leasing-about-icon-heading{
    font-family: var(--font-Poppins-Bold);
    font-size: 1.3rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-second__leasing-about-icon-text{
    font-family: var(--font-DM-Sans-Normal);
    font-size: 1.3rem;
}
.section-three-container{
    padding-bottom: 50px;
}
.section-three__text{
    padding: 33px;
}
.section-three__text-heading{
    font-family: var(--font-Poppins-Normal);
    font-size: 3.2rem;
    padding-top: 50px;
    margin-bottom: 30px;
}
.section-three__text-subheading{
    font-family: var(--font-Poppins-Normal);
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.section-three__text-text{
    font-family: var(--font-DM-Sans-Normal) ;
    font-size: 1.2rem;
    line-height: 16px;
    line-height: 20px;
}  
.section-three__last-part{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.section-three__last-part-image-team{
    width: 100%;
    padding: 30px;
}
.button-contact-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.button-contact-link{
   width: 90%;
    background-color: var(--color-Purple);
    color: var(--color-White);
    padding: 10px 24px 10px 24px;
    font-family: var(--font-Jost);
    font-size: 1.8rem;
    font-weight: 600px;
}
@media (min-width: 426px) and (max-width: 767px) {
    .section-container{
         padding: 100px 80px 50px 80px;
    }
    .section__about-heading{
        font-family: var(--font-Poppins-Normal);
        font-size: 3.8rem;
    }
    .section__first-heading{
        font-family: var(--font-Poppins-Normal);
         font-size: 2.2rem;
    }
    .title-container__text-item{
        padding: 100px;
    }
    .section-second{
        padding: 80px;
    }
    .section-second__text{
        font-size: 2rem;
    }
    .section-three-container{
        padding: 80px;
    }
    .section__first-text{
        font-size: 1.35rem;
    }
    .section-three__last-part{
        width: 100%;
    }
}
@media  (min-width: 768px) and (max-width:1023px) {
    .container{
        width: 100%;
    }
    .section-container{
        display: flex;
        flex-direction: row;
    }
    .section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .section__about{
        width: 50%;
    }
    .section__about-heading{
        font-family: var(--font-Poppins-Normal);
        font-size: 4rem;
    }
    .section__first{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding:0 80px;
    }
    .section__first-heading{
        font-family: var(--font-Poppins-Normal);
         font-size: 2.8rem;
    }
    .title-container__text-item-image-heading{
        font-size: 2.8rem;
        padding-top: 30px;
    }
   .title-container__text-item-image{
       width: 50%; 
       padding: 20px;
    }
    .title-container__text-item-text{
         width: 50%;
         padding: 20px;
    }
    .title-container{
        display: flex;
        flex-direction: row;
    }
    .section-second{
        display: flex;
        flex-direction: column;
    }
    .section-second__text{
        font-size:2.5rem ;
    }
    .section-second__leasing-about-icon-heading{
        font-size: 1.8rem;
    }
    .section-second__leasing-about{
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
    }
    .title-container__text-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }
    .section-three{
        display: flex;
        flex-direction: row;
    }
    .section-three__text-heading{
        font-size: 4.5rem;
    }
    .section-three__text-subheading{
        font-size: 2.5rem;
    }
    .section-three__text-text{
        font-size:1.4rem ;
    }
    .section-three__last-part{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: start;
        padding-top: 50px;
    }
    .button-contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-three__text{
        width: 50%;
        padding: 30px;
    }
    .button-contact-link{
        width: 30%;
       
    }
}
@media  (min-width: 1024px){
    .container{
        width: 100%;
    }
    .section-container{
        display: flex;
        flex-direction: row;
        padding: 80px 0 50px;
    }
    .section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
    }
    .section__about-text{
        font-size: 1.4rem;
    }
    .section__about{
        width: 50%;
       padding: 0 40px;
    }
    .section__about-heading{
        font-family: var(--font-Poppins-Normal);
        font-size: 5rem;
    }
    .section__first{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 140px;
    }
    .section__first-text{
        font-family: var(--font-DM-Sans-Normal);
        font-size: 1.5rem;
        line-height: 20px;
    }
    .section__first-link{
        font-size: 1.6rem;
    }
    .section__first-heading{
        font-family: var(--font-Poppins-Normal);
         font-size: 2.8rem;
    }
    .title-container__text-item-image-text{
        font-size:1.3rem;
        line-height: 24px;
    }
    .title-container__text-item-image-heading{
        font-size: 3.5rem;
        padding-top: 30px;
    }
   .title-container__text-item-image{
       width: 50%; 
       padding: 25px;
    }
    .title-container__text-item-text{
         width: 50%;
         padding: 25px;
    }
    .title-container{
        display: flex;
        flex-direction: row;
    }
    .section-second{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 100px;
    }
    .section-second__text{
        font-size:2.5rem ;
    }
    .section-second__leasing-about-icon-heading{
        font-size: 2rem;
    }
    .section-second__leasing-about-icon-text{
        font-size: 1.4rem;
    }
    .section-second__leasing-about{
        display: flex;
        flex-direction: row;
    }
    .title-container__text-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }
    .section-three{
        display: flex;
        flex-direction: row;
    }
    .section-three__text-heading{
        font-size: 5rem;
    }
    .section-three__text-subheading{
        font-size: 3rem;
    }
    .section-three__text-text{
        font-size:1.5rem ;
        line-height: 24px;
    }
    .section-three__last-part{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    .button-contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .section-three__text{
        width: 50%;
        padding: 40px;
    }
    .section-three__last-part{
        width: 60%;
       padding-top: 60px;
    }
    .button-contact-link{
        width: 30%;
       
    }
    .button-container{
        padding-top: 30px;
    }
}