@import "_base.css";
body {
  font-family: var(--font-DM-Sans-Normal);
}
.header-container {
  background-color: var(--color-Black);
  padding: 20px 0 20px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  height: 80px;
}

.header-container-sticky {
  background-color: var(--color-Black);
  padding: 20px 0 20px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed !important;
  top: -80px;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  animation-name: header-transition;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.header-container img {
  width: 150px;
}
.icon {
  color: var(--color-White);
  cursor: pointer;
  font-size: 2rem;
  padding-right: 20px;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  height: 100%;
  padding: 29px 24px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.topnav a:hover {
  background-color: var(--color-Purple);
}
#home,
#about-us,
#car-leasing,
#details,
#contact {
  transition: all 0.4s ease;
  border-right: 1px solid #313131;
}
#home {
  border-left: 1px solid #313131;
}
.active {
  background-color: var(--color-Purple);
}
.header-container .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .header-container .icon {
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav {
    display: none;
  }
  .topnav a {
    text-align: left;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 0;
    background: var(--color-Black);
    top: 80px;
    right: 0;
    transition: 0.5s;
  }
  .topnav a {
    font-size: 1.4rem;
    padding: 19px 25px;
  }
}

@media screen and (max-width: 426px) {
  .header-container .icon {
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav {
    display: none;
  }
  .topnav a {
    text-align: left;
  }
  .topnav {
    display: flex;
    height: 0;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
  }
  .topnav a {
    font-size: 1.3rem;
    padding: 20px 25px;
  }
}

/* -----footer----- */

.footer-container {
  background-color: var(--color-Dark-Gray);
}
.footer__custom-container {
  padding: 70px 33px 0;
}
.custom__p {
  font-family: var(--font-Poppins-Normal);
  font-size: 1.9rem;
  font-weight: 600;
  padding: 50px 0 70px 0;
}
.custom--break::before {
  content: "\a";
  white-space: pre;
}
.newsletter {
  font-family: var(--font-Poppins-Normal);
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 15px;
}
.footer__input-email {
  border: none;
  background-color: var(--color-White);
  width: 100%;
  padding: 16px 14px;
}
.footer__input-email::placeholder {
  color: var(--color-Black);
}
.footer__submit-button {
  font-family: var(--font-Jost);
  background-color: var(--color-Black);
  color: var(--color-White);
  padding: 10px 30px;
  font-size: 1.8rem;
  margin: 10px 0;
}
.lorem {
  font-size: 1.1rem;
}
.footer-contact {
  display: flex;
  align-items: center;
}
.footer__contact-container {
  display: flex;
  align-items: center;
  padding: 50px 0 100px;
}
.footer-contact i {
  padding-right: 6px;
}
.footer-contact p {
  font-size: 1.3rem;
}
.footer-envelope {
  padding-left: 20px;
}
.footer__border {
  border: 1px solid #dfdddf;
}
.footnote {
  text-align: center;
  padding: 30px 33px 15px;
}
.fa-angle-up {
  font-size: 2rem;
}
.footer__arrow--linked {
  color: var(--color-Black);
}
.footnote p {
  font-size: 1.3rem;
  padding: 30px 0 12px;
}
.footnote--linked:hover {
  text-decoration: underline;
  color: #c128dc;
}
.footer-icons {
  font-size: 1.3rem;
  padding: 0 6px;
}
.arrowup {
  display: none;
}
.brands--linked {
  color: var(--color-Black);
}
.brands--linked:hover {
  color: rgb(186, 186, 186);
}

@media (min-width: 768px) {
  .custom {
    display: flex;
    justify-content: space-between;
  }
  .buttons-container {
    display: flex;
    align-items: center;
  }
  .footer__submit-button {
    margin-left: 6px;
    font-size: 1.9rem;
  }
  .footer__contact-container {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
  }
  .footer__contact-container p {
    font-size: 1.4rem;
  }
  .footer-contact {
    padding: 4px 0;
  }
  .footer-envelope {
    padding-left: 0;
  }
  .custom__p {
    font-size: 2.7rem;
  }
  .newsletter {
    font-size: 1.8rem;
  }
  .arrow-up-container {
    display: none;
  }
  .arrowup {
    display: block;
  }
  .footnote {
    display: flex;
    align-items: last baseline;
    padding: 10px 40px 20px;
  }
  .footnote p {
    width: 90%;
    text-align: left;
  }
  .brands-container {
    display: flex;
    align-items: center;
  }
  .fa-angle-up {
    padding: 0 10px 0 28px;
  }
  .footer-icons {
    font-size: 1.5rem;
  }
  .footer__custom-container {
    padding: 100px 40px 0;
  }
  .newsletter {
    padding: 0;
  }
  .lorem {
    padding: 30px 0 0;
  }
}

@media (min-width: 1024px) {
  .custom__p {
    font-size: 3.2rem;
    line-height: 40px;
  }
  .newsletter {
    font-size: 2.1rem;
  }
  .lorem,
  .footer-contact i {
    font-size: 1.3rem;
  }
  .footer-contact p {
    font-size: 1.6rem;
  }
  .footer__custom-container {
    padding: 120px 50px 0;
  }
  .footnote {
    padding: 10px 50px 20px;
  }
  .footnote p {
    font-size: 1.5rem;
  }
}
